<ion-header>
  <ion-toolbar>
    <ion-title>
      Medical History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item id="products-toggle1">
      <ion-label>
        Cholesterol
      </ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item id="products-toggle2">
      <ion-label>
        Diabetes
      </ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item id="products-toggle3">
      <ion-label>
        Gastritis
      </ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item id="products-toggle4">
      <ion-label>
        Irritable bowel syndrome (IBS)
      </ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item id="products-toggle6">
      <ion-label>
        Triglycerides
      </ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item id="products-toggle5">
      <ion-label>
        Lactose intolerant
      </ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item id="products-toggle7">
      <ion-label>
        Hypertension
      </ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item id="products-select1">
      <ion-label>
        Allergic to
      </ion-label>
      <ion-select name="" multiple="true">
        <ion-select-option value="eggs">Egg</ion-select-option>
        <ion-select-option value="chip">Chip</ion-select-option>
        <ion-select-option value="coke">Coke</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
