<ion-header>
  <ion-toolbar>
    <ion-title>
      Care4u
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/img/0bIZqvnRiQfaYl4gebhA_healthy.jpg" alt="" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;"/>
      
      <ion-card-content>
        <p style="color:#000000;">Care4u identifies through the camera how healthy is the food you are about to eat regarding your current health condition that you already let us know in the app at the beginning in a form, this means it keeps the tracking for different kinds of nutrients,
            fat, cholesterol, and others of what you want to eat. In this way, in order to what might be bad food for your health we can create an alert of the product.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
